<h1>Form</h1>
<%form_tag coupons_path do%>
<%label :coupon, :coupon_code%>
<%text_field :coupon, :coupon_code%><br>
<%label :coupon, :store%>
<%text_field :coupon, :store%><br>

 <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

  <%= submit_tag "Submit Coupon" %>
<% end %>
